body {
    font-family: Arial;
    background: linear-gradient(135deg, #6c7cff, #7b4ddb);
}

.container {
    background: white;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.subtitle {
    color: gray;
}

.form-box input,
.form-box select,
.form-box textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background: #6c7cff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.complaint {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
